html,body {
  margin: 0px;
  padding: 0px;
  pointer-events: none;
}
#app {
 box-sizing: border-box;
 width: 380px;
 height: 380px;
 border-radius: 190px;
 border: 1px solid green;
 background: #fff;
 overflow: hidden;
 pointer-events: auto;
}